<app-header></app-header>
<main>
    <h2>Welcome to My Angular Project</h2>
    <p>This is the home page.</p>
    <app-display [message]="parentMessage" (notify)="onNotify($event)"></app-display>
    <div *ngIf="notificationMessage">
        {{ notificationMessage }}
    </div>

    <div>
      <h1>Weather Information</h1>
    
      <app-card>
        <div card-header>
          <h2>Weather in {{ weatherData?.name }}</h2>
          <p>Latest Conditions</p>
        </div>
        <div card-body>
          <ng-container *ngIf="weatherData; else loading">
            <ul>
              <li *ngFor="let weather of weatherData.weather">
                {{ weather.description }}
              </li>
            </ul>
            <p>Temperature: {{ weatherData.main.temp }} °C</p>
            <p>Humidity: {{ weatherData.main.humidity }} %</p>
          </ng-container>
          <ng-template #loading>
            <p>Loading weather data...</p>
          </ng-template>
        </div>
        <div card-footer *ngIf="errorMessage">
          <p>{{ errorMessage }}</p>
        </div>
      </app-card>
    </div>   
</main>
<app-footer></app-footer>
  
